.Wrap{
    position: relative;
    height: 100vh;
    width: 100vw;
    border: solid blue 1px;
    img{
        width: 100%;
        height: 100%;
        z-index: -100;
        -ms-filter: blur(6px);
        filter: blur(6px);
    }
    .box{
        width: 50%;
        height: 90%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        .login_area{
            width: 50%;
            height: 15%;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            background-color: #3865A9;
            border-radius: 9999px;
            font-size: 3vw;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #FFD600;
        }
        .form_area{
            height: 70%;
            width: 65%;
            position: absolute;
            bottom: 7%;
            left: 50%;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            border: solid #3865A9 2px;
            border-radius: 10px;
            form{
                position: relative;
                width: 100%;
                height: 100%;
                .value{
                    position: absolute;
                    top: 40%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    -webkit-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    height: 13%;
                    width: 90%;
                    .data{
                        border: solid #3865A9 2px;
                        border-radius: 10px;
                        width: 100%;
                        height: 100%;
                    }
                }
                .send_area{
                    width: 40%;
                    height: 13%;
                    position: absolute;
                    bottom: 10%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    -webkit-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    background-color: #3865A9;
                    border-radius: 9999px;
                    color: #FFD600;
                    input{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }
    }
}

body{
    font-size: clamp(16px, 1vw, 100px);
    font-family: 'Mochiy Pop One', sans-serif;
}